/*css reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*initial css*/
header {
  margin: 50px;
}

main {
  margin: 50px;
}

footer {
  margin: 50px;
}

.yellow-star {
  color: yellow;
}

.grey-star {
  color: grey;
}