/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*css reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*main colors*/
:root {
  --c-red: #DC1A28;
  --c-dark-red: #BB0710;
  --c-dark: #0e0e0e;
  --c-white: #fff;
  --c-transparent: #000000e0;
}

/*default css*/
body {
  color: #fff;
  background-color: var(--c-dark);
  font-family: "Bebas Neue", serif;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--c-white);
}

/*utility*/
.container {
  margin: 0 auto;
  max-width: 1400px;
}

.yellow-star {
  color: yellow;
}

.grey-star {
  color: grey;
}

.debug {
  border: 1px dashed red;
}

.d-none {
  display: none;
}

/*==== HEADER ====*/
header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 90px;
  background-color: var(--c-transparent);
}

.header-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}

/*navbar*/
.navbar {
  display: flex;
  align-items: center;

  .logo {
    width: 150px;
    margin-right: 50px;
  }

  .nav {
    nav ul {
      display: flex;
      font-size: 1.1rem;

      li {
        margin-right: 35px;

        a {
          position: relative;
          padding: 10px;

          &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: var(--c-red);
            transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
          }

          &:hover::after {
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }
}

/*searchbar*/
.searchbar {
  input {
    background-color: var(--c-white);
    font-size: 1rem;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }

  button {
    background-color: var(--c-red);
    color: var(--c-white);
    padding: 10px;
    border: none;
    border-radius: 100%;

    &:hover {
      background-color: var(--c-dark-red);
    }
  }
}


/*==== MAIN ====*/
/*film/series sections*/
.film-series-section {
  margin-top: 50px;

  h1 {
    font-size: 2.1rem;
  }
}

.series-film-cards-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

/*film/series card*/
.film-series-card {
  width: calc(100% / 5);
  height: 400px;
}

.card-content {
  padding: 5px;
  height: 100%;

  .card-image {
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
  }

  .card-info {
    padding: 5px;

    h2 {
      font-size: 1.6rem;
    }

    .language-info {
      margin-top: 20px;

      .flag-container {
        width: 60px;
        height: 40px;
        border-radius: 5px;
        overflow: hidden;
      }
    }

    .rating-info {
      margin-top: 10px;
    }

    .overview-info {
      margin-top: 10px;



      .overview-text {
        font-family: 'arial', sans-serif;
        height: 130px;
        overflow: auto;

        &::-webkit-scrollbar {
          width: 5px;
          background: var(--c-dark);
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #fff;
          border-radius: 10px;
        }
      }
    }
  }
}